mainmenu "LuxeOS Configuration"

choice ARCH
	bool "Target Architecture"
	config X86_64
		bool "x86_64"
	---help---
	Build target architecture.
endchoice

menu "Debug"
	config DEBUG
		bool "Enable Debug mode"
		default y
		---help---
		Enables debugging support.
endmenu